.root {
	display: flex;
	flex-direction: column;
    align-items: flex-end;
	width: 100%;
}

.root:hover .toolbar {
    opacity: 1;
}

.toolbar {
    display: flex;
    gap: 4px;
    margin-top: 4px;
    opacity: 0;
    transition: opacity 0.15s;
}

.content {
	min-width: 0;
	max-width: min(900px, 90%);
	padding: 6px 8px;
	overflow: hidden;
	border-radius: 4px;
	background: #478cbf;
}
