.thinkingCollapse {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	user-select: none;
	border-radius: var(--ds-radius-sm);
}

.thinkingIcon {
	width: 16px;
	height: 16px;
}

.thinkingContent {
	box-sizing: border-box;
	max-height: 250px;
	padding-top: 24px;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	scrollbar-width: none;
	user-select: text;
	mask-image: linear-gradient(
		to top,
		rgb(0 0 0) 0%,
		rgb(0 0 0) calc(100% - 48px),
		transparent 100%
	);
}

.thinkingContent::-webkit-scrollbar {
	display: none;
}
