.root {
	position: relative;
	display: flex;
	flex: 0 0 36px;
	align-items: center;
	justify-content: flex-start;
	height: 36px;
	min-height: 36px;
	max-height: 36px;
	overflow: hidden;
	user-select: none;
	-webkit-app-region: drag;
	background-color: var(--ds-surface-active);
}

.brandName {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 16px;
	line-height: 36px;
}

.menuTrigger {
	margin-left: var(--ds-space-3);
	line-height: 36px;
	cursor: pointer;
	-webkit-app-region: no-drag;
}
